<div class="list-container">
    <div class="list-group" *ngFor="let task of tasks">
        <span class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><fa-icon [icon]="paperclip"></fa-icon> - {{task.title}}</h5>
              <div>
                <button class="btn btn-warning gap-3" routerLink="/tasks/edit/{{task.id}}"><fa-icon [icon]="edit"></fa-icon> | Edit</button>
                <button class="btn btn-secondary gap-3"><fa-icon [icon]="calendar"></fa-icon> | <small>{{task.created}}</small></button>
              </div>
          </div>
          <p class="mb-1"><fa-icon [icon]="info"></fa-icon> - {{task.info}}</p>
          <fa-icon [icon]="asterisk"></fa-icon> - <small>{{task.smallprint}}</small>
        </span>
    </div>
</div>
<hr />
<div class="container">
  <button class="btn btn-success" routerLink='/tasks'><fa-icon [icon]="addTask"></fa-icon> | Add task</button>
</div>
