<nav class="navbar bg-dark fixed-bottom" data-bs-theme="dark">
    <ul class="nav justify-content">
        <li class="nav-item">
            <span class="nav-link" aria-current="page">
                <a href="https://github.com/jorian82" target="_blank"><fa-icon [icon]="faGithubAlt"></fa-icon></a> |
                <a href="https://www.linkedin.com/in/jorge-rivera-50616632/" target="_blank"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
            </span>
        </li>
    </ul>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <span class="nav-link" aria-current="page">
                <fa-icon [icon]="faCopyright"></fa-icon>
                {{today | date : 'YYYY'}}
            </span>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <span class="nav-link" aria-current="page">
                <a href="https://www.ssde.com.mx" target="_blank">SSDE</a>
            </span>
        </li>
    </ul>
</nav>
