<nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            To Do app
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/dashboard">
                            <fa-icon [icon]="faHome"></fa-icon>&nbsp;|&nbsp;
                            Home
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="$isAdmin|async">
                        <a class="nav-link" aria-current="page" routerLink="/admin">
                            <fa-icon [icon]="faTerminal"></fa-icon>&nbsp;|&nbsp;
                            Admin Console
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <fa-icon [icon]="faUserTie"></fa-icon>&nbsp;|&nbsp;
                            User
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <span class="dropdown-item pointer" routerLink="/profile">
                                    <fa-icon [icon]="faIdCard"></fa-icon>&nbsp;|&nbsp;
                                    Profile
                                </span>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <span class="dropdown-item pointer" (click)="signout()">
                                    <fa-icon [icon]="faRightFromBracket"></fa-icon>&nbsp;|&nbsp;
                                    Log out
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
