<h2>Edit details</h2>
<form>
  <div class="mb-3">
    <label for="exampleInputFirstName" class="form-label">First name</label>
    <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNHelp">
    <div id="firstNHelp" class="form-text">Type your first name</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputLastName" class="form-label">Last name</label>
    <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNHelp">
    <div id="lastNHelp" class="form-text">Type your last name</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <button type="submit" class="btn btn-primary">Save details</button>
</form>
<hr />
<h2>Change password</h2>
<form>
  <div class="mb-3">
    <label for="exampleInputOldPassword1" class="form-label">Old password</label>
    <input type="password" class="form-control" id="exampleInputOldPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Validate Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2">
  </div>
  <button type="submit" class="btn btn-success">Update Password</button>
</form>
