<div class="header-container">
    <nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                To Do app
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="Dashboard">
                                <fa-icon [icon]="faHome"></fa-icon>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="Console">
                                <fa-icon [icon]="faTerminal"></fa-icon>
                                Console
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <fa-icon [icon]="faUserTie"></fa-icon>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" routerLink="/">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="body-container">
    <router-outlet></router-outlet>
</div>
<div class="footer-container">
    <nav class="navbar bg-dark fixed-bottom" data-bs-theme="dark">
        <ul class="nav justify-content">
            <li class="nav-item">
                <span class="nav-link" aria-current="page">
                    <fa-icon [icon]="faGithubAlt"></fa-icon> | 
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
                </span>
              <!-- <span class="nav-link" aria-current="page">
              </span> -->
            </li>
        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <span class="nav-link" aria-current="page">
                    <fa-icon [icon]="faCopyright"></fa-icon>
                    {{today | date : 'YYYY'}}
                </span>
                <!-- <span class="nav-link">
                </span> -->
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <span class="nav-link" aria-current="page">
                    SSDE
                </span>
            </li>
        </ul>
    </nav>
</div>