.header-container {
    background-color: black;
    color: azure;
    padding: 20px;
}

.inner-container {
    display: block;
    height: 100vh;
    padding: 20px 20px;
}

.footer-container {
    background-color: black;
    color: azure;
    padding: 20px;
}